@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.body-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
}

.heading {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

/* Text Color */

.dark-blue {
  color: #1B134B;
}


/* Styles for navbar */
.navbar {
  background-color: #fff;
  padding: 1rem 2rem;
}

/* Logo style */
.logo {
  width: 150px;
  height: auto;
  padding: 10px 10px;
}


/* Form style */
.form-container {
  background-color: #FDFDFD;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Container */
.app-container.logged-in {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-container.logged-in .app-content {
  flex-grow: 1;
  margin-left: 25%; /* Ajoutez cette ligne */
}

.app-content {
  flex-grow: 1;
}


/* Augmentation de la spécificité en incluant plus de sélecteurs */
.nav .nav-link.default-link {
  color: #1B134B !important;
}

.nav .nav-link.active-link {
  color: #D70044 !important;
}

.nav .nav-link.default-link:hover {
  color: #F47500 !important;
}

.nav .nav-link.active-link:hover {
  color: #F47500 !important;
}

/* Utilisation d'un identifiant pour augmenter la spécificité */
#responsive-navbar-nav .nav-link.default-link {
  color: #1B134B !important;
}

#responsive-navbar-nav .nav-link.active-link {
  color: #D70044 !important;
}

#responsive-navbar-nav .nav-link.default-link:hover {
  color: #F47500 !important;
}

#responsive-navbar-nav .nav-link.active-link:hover {
  color: #F47500 !important;
}

.card .card-title.dark-blue {
  color: #1B134B;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: medium;

}
