@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700; }
/* src/css/style.css */

.custom-header {
  background-color: #DDEDAA;
}

.custom-nav-link {
  font-family: 'Playfair Display', serif;
  color: #1B134B; /* Couleur par défaut des liens */
  font-weight: 900; /* Rendre les liens gras */
}

.custom-nav-link:hover {
  color: #E66F00; /* Couleur des liens au survol */
}

.custom-nav-link:active {
  color: #FF0051; /* Couleur des liens lorsqu'ils sont actifs */
}

